.tasks {
    display: flex;

    &__name {
        margin-right: auto;
    }

    &__incomplete-wrapper {
        margin-right: 10rem;
    }

    &__name-input {
        margin-right: 1rem;
    }

    &__name-wrapper {
        display: flex;
    }

    &__edit-button,
    &__remove-button,
    &__complete-button {
        cursor: pointer;
        margin-left: 1rem;
    }

    &__complete-button {
        color: green;
    }

    &__remove-button {
        color: red
    }
}